In [1]:
print_imports()

Loaded modules:
numpy                np              1.14.0
pandas               pd              0.22.0
sklearn              sk              0.19.1
keras                ks              2.1.4

matplotlib           mpl             2.1.2
matplotlib.pyplot    plt             N/A
matplotlib.image     mpimg           N/A
seaborn              sns             0.8.1
PIL                  PIL             5.0.0

ExergyUtilities      exergy          2.0.

pyspark              pyspark         2.2.1

In [2]:
import os

In [3]:
data_path = r"/media/batman/WD20 Ext <Movies>/ConnHack2018"
company = 'Fresh'
csvfile = ''

In [6]:
data_path = r"/home/batman/Dropbox/DATA/Connhack"
csvfilename = r'SQLVora_march_full.csv'
file_path =  os.path.join(data_path, csvfilename)
file_path

'/home/batman/Dropbox/DATA/Connhack/SQLVora_march_full.csv'

In [7]:
df = pd.read_csv(file_path)

In [8]:
df

,METERID,TSTAMP,ENERGY,POWER_ALL,POWER_PHASE_1,POWER_PHASE_2,POWER_PHASE_3,ENERGY_OUT
0,201,2017-02-24 02:52:30.000,164021878000,48840,2640,44890,1310,0
1,201,2017-02-24 02:52:32.000,164022149000,48840,2460,44900,1480,0
2,201,2017-02-24 02:52:34.000,164022422000,48980,2560,44990,1430,0
3,201,2017-02-24 02:52:36.000,164022692000,48560,2440,44740,1380,0
4,201,2017-02-24 02:52:38.000,164022963000,48770,2460,44860,1450,0
5,201,2017-02-24 02:52:40.000,164023233000,48740,2640,44860,1240,0
6,201,2017-02-24 02:52:42.000,164023504000,48700,2630,44820,1250,0
7,201,2017-02-24 02:52:44.000,164023776000,48950,2650,44940,1360,0
8,201,2017-02-24 02:52:46.000,164024047000,48870,2520,44840,1510,0
9,201,2017-02-24 02:52:48.000,164024321000,49530,2710,44900,1920,0
10,201,2017-02-24 02:52:50.000,164024596000,49280,2630,44850,1800,0
11,201,2017-02-24 02:52:52.000,164024869000,49250,2730,44870,1650,0
12,201,2017-02-24 02:52:54.000,164025143000,49310,2680,45050,1580,0
13,201,2017-02-24 02:52:56.000,164025416000,49140,2670,44890,1580,0
14,201,2017-02-24 02:52:58.000,164025690000,49140,2630,44940,1570,0
15,201,2017-02-24 02:53:00.000,164025962000,48970,2650,44890,1430,0
16,201,2017-02-24 02:53:02.000,164026233000,48940,2650,44820,1470,0
17,201,2017-02-24 02:53:04.000,164026506000,48880,2630,44840,1410,0
18,201,2017-02-24 02:53:06.000,164026775000,48510,2510,44720,1280,0
19,201,2017-02-24 02:53:08.000,164027046000,48840,2560,44840,1440,0
20,201,2017-02-24 02:53:10.000,164027318000,48980,2620,45040,1320,0
21,201,2017-02-24 02:53:12.000,164027590000,48870,2550,44930,1390,0
22,201,2017-02-24 02:53:14.000,164027861000,48710,2490,44820,1400,0
23,201,2017-02-24 02:53:16.000,164028132000,49010,2550,44990,1470,0
24,201,2017-02-24 02:53:18.000,164028405000,49050,2600,44880,1570,0
25,201,2017-02-24 02:53:20.000,164028678000,49190,2690,44800,1700,0
26,201,2017-02-24 02:53:22.000,164028951000,49020,2510,44960,1550,0
27,201,2017-02-24 02:53:24.000,164029223000,49110,2590,44890,1630,0
28,201,2017-02-24 02:53:26.000,164029496000,49050,2620,44900,1530,0
29,201,2017-02-24 02:53:28.000,164029768000,48880,2570,44850,1460,0
...,...,...,...,...,...,...,...,...
9970,201,2017-02-24 08:24:50.000,207290519000,12021250,5346990,5397740,1276520,0
9971,201,2017-02-24 08:24:52.000,207357326000,12026270,5347250,5397480,1281540,0
9972,201,2017-02-24 08:24:54.000,207424169000,12037520,5352300,5398950,1286270,0
9973,201,2017-02-24 08:24:56.000,207490921000,11994760,5351650,5397190,1245920,0
9974,201,2017-02-24 08:24:58.000,207557468000,11998550,5353370,5400400,1244780,0
9975,201,2017-02-24 08:25:00.000,207624160000,11977970,5352150,5397210,1228610,0
9976,201,2017-02-24 08:25:02.000,207690640000,11987280,5341960,5386560,1258760,0
9977,201,2017-02-24 08:25:04.000,207760325000,13063840,5442690,5473660,2147490,0
9978,201,2017-02-24 08:25:06.000,207857619000,18732370,6426090,6499830,5806450,0
9979,201,2017-02-24 08:25:08.000,207959292000,17948920,6340020,6411750,5197150,0
9980,201,2017-02-24 08:25:10.000,208057199000,17555640,6242730,6349710,4963200,0
9981,201,2017-02-24 08:25:12.000,208154330000,17463310,6224840,6328530,4909940,0
9982,201,2017-02-24 08:25:14.000,208250779000,17337360,6206850,6306880,4823630,0
9983,201,2017-02-24 08:25:16.000,208347011000,17302640,6206540,6304560,4791540,0
9984,201,2017-02-24 08:25:18.000,208442444000,17139490,6197040,6284650,4657800,0
9985,201,2017-02-24 08:25:20.000,208537437000,17089730,6174750,6264070,4650910,0
9986,201,2017-02-24 08:25:22.000,208632050000,17020830,6154970,6256250,4609610,0
9987,201,2017-02-24 08:25:24.000,208726514000,16998710,6153480,6254200,4591030,0
9988,201,2017-02-24 08:25:26.000,208821013000,17003150,6150400,6250110,4602640,0
9989,201,2017-02-24 08:25:28.000,208915430000,16976000,6142450,6252360,4581190,0
9990,201,2017-02-24 08:25:30.000,209009193000,16866260,6123800,6233960,4508500,0
9991,201,2017-02-24 08:25:32.000,209103119000,16946730,6142250,6248860,4555620,0
9992,201,2017-02-24 08:25:34.000,209197528000,16980350,6154440,6250120,4575790,0
9993,201,2017-02-24 08:25:36.000,209291584000,16895520,6135200,6231520,4528800,0
9994,201,2017-02-24 08:25:38.000,209385276000,16865250,6122420,6234060,4508770,0
9995,201,2017-02-24 08:25:40.000,209478876000,16863450,6124060,6231240,4508150,0
9996,201,2017-02-24 08:25:42.000,209572516000,16850630,6128850,6228210,4493570,0
9997,201,2017-02-24 08:25:44.000,209666215000,16861690,6132860,6231230,4497600,0
9998,201,2017-02-24 08:25:46.000,209760298000,16940450,6132800,6247540,4560110,0
9999,201,2017-02-24 08:25:48.000,209854164000,16893820,6121980,6227770,4544070,0